<!-- app/views/index.html.erb -->

<div class="row">
  <div class="col-ts-12 col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <h2>All ToDo Lists <small>
      <%= link_to "New List", new_list_path, type: "button", class: "btn btn-link" %></small></h2>
  </div>
</div>

<div class="row">
  <div class="col-ts-12 col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <ul class="list-group">
      <% @lists.each do |list| %>
        <li class="list-group-item">
          <%= link_to list.name, list %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

