<%# add navigation links to this file %>

<li>
  <a href="#new-task"><span class="glyphicon glyphicon-plus"></span></a>
</li>
<li>
  <a href="#view-tasks">Tasks</a>
</li>
<li>
  <%= link_to "Lists", lists_path %>
</li>
<li>
  <%= link_to "About", about_path %>
</li>
