<!-- app/views/layouts/_task_item.html.erb -->

<div class="col-ts-12 col-xs-7 col-sm-6 col-md-4 col-lg-3 portfolio-item">
  <a href="portfolio-item.html">
    <img class="img-responsive" src="http://placehold.it/750x450">
  </a>
</div>
