<!-- app/views/layouts/_task_list.html.erb -->

<div class="container">

  <div class="row">

    <div class="col-lg-12">
        <h1 class="page-header">Customized 4 Col Portfolio
            <small>This is the grid that I modified.</small>
        </h1>
    </div>

  </div>

  <div class="row">
    <%= render partial: 'layouts/task_item', collection: Array.new(7) %>
  </div>

  <hr>

  <div class="row text-center">

    <div class="col-lg-12">
      <ul class="pagination">
        <li><a href="#">&laquo;</a>
        </li>
        <li class="active"><a href="#">1</a>
        </li>
        <li><a href="#">2</a>
        </li>
        <li><a href="#">3</a>
        </li>
        <li><a href="#">4</a>
        </li>
        <li><a href="#">5</a>
        </li>
        <li><a href="#">&raquo;</a>
        </li>
      </ul>
    </div>

  </div>

</div>
<!-- /.container